.chat {
    /* background: url('./src/assets/background1.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: black;
    height: 100vh;
    color: #fff;
}